@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: sans-serif, Arial, Helvetica, Roboto;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


body, html {
    height: 100%;
    margin: 0;
}

main[id=eventpage]{
    background: url("./pictures/event_50.jpg") center/cover no-repeat;
    position: relative;
   /
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #060501;
    width: 100%;
}

.front {
    margin-top: 20px;
}


@media only screen and (max-width: 935px) and ( min-width: 350px) {
    .logo img {
        width: 100px;
        height: auto;
    }

    nav {
        display: none;
    }

    .logo, nav {
        display: block;
    }

    nav {
        margin-top: 10px;
    }

    /*Make the nav items full width and vertically aligned */
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /*Remove the horizontal spacing between nav items */
    nav li {
        width: 100%;
        margin: 0;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content .button {
        font-size: 14px;
    }

    .footer-items {
        flex-direction: column;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: scroll;
    }

    tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5em 0;
    }

    td {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
    }

    td:first-child {
        width: 100%;
    }

    td img {
        width: 80%;
        max-width: 200px;
    }

    .faq {
        text-align: left;
    }
}
@media only screen and (max-width: 600px) {

}


.logo img {
    width: 60px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    padding-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ffa500;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #060501;
    margin-top: 95px;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: top;
}

.hero-content {
    position: absolute;
    width: 100%;
    top: 75%;
    left: 50%;
    /*places element in center of het parent element by horizontal 50% own width en vert 50% of own height.*!*/
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 700px;
    left: 33%;
    top: 33%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 20px;
}

/*.hero-content button{}*/

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #ffa500;
    border-radius: 4px;
    text-decoration: none;
    max-width: 300px;
}

.button:hover {
    background-color: #ffb31a;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    position: relative;
    margin-top: 95px;
    /*margin-bottom: auto;*/
    /*padding: 10px;*/
    padding: 10px;
    /*min-height: max-content;*/
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.heart{
    background: url("./pictures/ace (1).png") no-repeat;
}

.card-image{
    transform:rotate(45deg);
    position: relative;
    z-index: 1;
}
.event h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event p {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #ffa500;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #ffb31a;
}

table {
    width: 100%;
    /*border-collapse: collapse;*/
    margin: 1em 0;
    border: none;
}

th {
    text-align: left;
    background-color: #333;

}

td {
    vertical-align: top;
}

td img {
    height: autopx;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 4px solid #ffb31a;
}

.custom-marker li::before {
    content: "🚴‍♂️";    /* U+1F6B4 U+200D U+2642 U+FE0F*/
    padding-right: 10px;
}

footer {
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   color: white;
   margin-bottom: 0;
   /*height: fit-content;
   overflow: hidden;*/
   padding: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    margin-right: 20px;
}

.socials {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.social-links a:hover {
    color: #ffa500;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-form input[type="email"] {
    width: 250px;
    height: 52px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.newsletter-form input [type="submit"] {
    width: 150px;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffa500;
    color: white;
}

.newsletter-form input [type="submit"]:hover {
    background-color: #ffb31a;
}

.faq {
    margin-top: 20px;
    padding-right: 30px;
    text-align: right;
}

.faq h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.faq p {
    margin-bottom: 20px;
}

.faq a {
    color: white;
    text-decoration: none;
}

.faq a:hover {
    color: #ffa500;
}


/*404 error page*/
body[id=error] {
    background-color: black;
    color: white;
}

.error-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.error-image img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-message h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.error-message p {
    font-size: 18px;
}

@media print {
    section, main, body, figure, footer {
        height: unset;
        overflow: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
        margin: 1rem;
        padding: 0;
        color: black;
        text-align: left;
    }

    div {
        padding: 0;
        margin: 0;
    }
}

